/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 #gastcoin-gateway{
  display: none;
 }
.content-gastcoin{
  max-width: 850px;
}
#img-wallet{
  width: 160px;
  margin: 0 auto;
}
.img-network{
  width: 100px;
}
.block-90{
  width: 90%;
}
.block-center{
  margin: 0 auto;
}

#gastcoin-gateway button, #gastcoin-gateway-select-wallet button{
  background-color: #fff;
  color: #000000;
}

.is-border-radius-17{
  border-radius: 17px!important;
}
.is-border-radius-24{
  border-radius: 24px!important;
}
.is-border-radius-27{
  border-radius: 27px!important;
}
.is-border-top{
  border-top: 1px solid #f2f2f2;
  padding-top: 10px;
}
.if-border-bottom{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}
.card-gastcoin{
  margin: 0 auto;
  width: 420px;
  background-size: cover;

}
.btn-crypto-gastcoin img{
  width: 25px;
  height: 25px;
}
.is-float-left{
  float: inline-end;
}
#gast-text-alert{
  text-align: end;
}
#gastcoin-total{
  color: #ffffff!important;
  font-weight: bold;
}
.card-gastcoin .loader {
  margin: 0 auto;
  margin-top: 12%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  #gastcoin-client-wallet{
    margin-bottom: 1rem !important;
  }
  .gastcoin-ico img{
    width: 25px!important;
  }

  #gastcoin-gateway .column, #gastcoin-gateway-select-wallet .column{
    padding: 0px!important;
  }
  #gastcoin-gateway .gastcoin-class-total{
    width: 100%;
    float: inline-start;
    margin-bottom: 0px;
  }
  #gastcoin-client-wallet{
    font-size: 12px!important;
  }
  .gastcoin-float-left{
    float: left!important;
    width: auto;
    margin-right: 25%;
  }
  #gastcoin-gateway .card-content{
    padding-top: 10px !important;
    padding-bottom: 25px !important;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
  #gastcoin-gateway .columns {
    margin-right: 5px!important;
  }
}

.gastcoin-ico img{
  float: right;
}

.card-gastcoin .content{
  padding-left: 15px;
}
@media screen and (min-width: 769px) {
  .card-gastcoin .card-content{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

#gastcoin-gateway-pay{
  background-color: #036BD0!important;
  color: #ffffff!important;
}

#gastcoin-gateway-select-wallet .icon{
  margin-right: 10px!important;
}

/*Cad CSS*/

.gastcoin-card .card{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  
}
.gastcoin-card .loader{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px !important;
  display: none;
}

.card__part{
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  display: inline-block;
  width: 320px;
  height: 190px;
  background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  word-wrap: break-word;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 16px;
}

.card__front-logo-1{
    position: absolute;
    top: 18px;
    right: 18px;
    width: 16px;
}

.card__front-logo-2{
    position: absolute;
    top: 18px;
    right: 50px;
    width: 16px;
}

.card__front-logo-3{
    position: absolute;
    top: 18px;
    right: 82px;
    width: 16px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 0%;
    float: left;
}

.card__space-25 {
    width: 100%;
    float: left;
}

.card__label {
    font-size: 10px;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 10px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 1px;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.gastcoin-card .card{
  margin: 0 auto;
}

#gastcoin-gateway button, .gastcoin-gateway-select-wallet button{
  border: 1px solid #0000001c;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: #ffffff;
  background: #ffffff;
}
#gastcoin-gateway .gastcoin-btns .is-normal{
  border: 1px solid #0000001c;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 142px;
  height: 50px;
  background-image: #ffffff;
  background: #ffffff;
}